1.- (200) Proporciona una SQL que muestre los siguientes datos:
- Nombre Actor
- Apellido Actor

In [ ]:
select count(*) from(
select first_name, last_name from actor) as salsa;

2.- (5462) Proporciona una SQL que muestre los siguientes datos:
- Nombre y apellido Actor,
- Titulo de la Película

Le ponemos as mambo porque hay darle un alias para que funcione el count.

In [ ]:
select count(*) from(
select first_name, last_name, title
from actor A
inner join film_actor B
on A.actor_ID = B.actor_ID
inner join film C
on B.film_ID = C.film_ID) as mambo;

3.-(199) Proporciona una SQL que muestre los siguientes datos:
- Nombre y apellido Actor
- Número de películas
- Ordenar de mayor a menor

In [ ]:
select count(*) from(
select A.first_name, A.last_name, count(C.title)
from actor A
join film_actor B
on A.actor_id = B.actor_id
join film C
on B.film_id = C.film_id
group by A.first_name, A.last_name
order by count (C.title) desc) as mambo2;

4.- (958) Proporciona una SQL que muestre los siguientes datos:
- Película
- Numero de veces alquilada(orden de mayor a menor)

In [ ]:
select count(*) from(
select F.title, count(R.rental_id)
from film F
join inventory I
on F.film_id = I.film_id
join rental R
on I.inventory_id = R.inventory_id
group by F.title
order by count(R.rental_id) desc) as mambo3;

5.- (958) Proporciona una SQL que muestre los siguientes datos:
- Película
- Dinero recaudado por película (ordenado)

In [ ]:
select count(*) from(
select F.title, sum(P.amount)
from film F
join inventory I
on F.film_id = I.film_id
join rental R
on I.inventory_id = R.inventory_id
join payment P
on R.rental_id = P.rental_id
group by F.title
order by sum(P.amount) desc) as mambo4;

6.- (1)Proporciona una SQL que muestre los siguientes datos:
- Nombre y apellido del mejor cliente (mayor gasto)

In [ ]:
select count(*) from (
select C.first_name, C.last_name, sum(P.amount)
from customer C
join payment P
on C.customer_id = P.customer_id
group by C.first_name, C.last_name
order by sum(P.amount) desc
limit 1) as mambo5;

7.-(1) Proporciona una SQL que muestre los siguientes datos:
- Nombre y apellido del mejor cliente (mayor num de alquileres)

In [ ]:
select count(*) from (
select C.first_name, C.last_name, count(R.rental_id)
from customer C
join rental R
on C.customer_id = R.customer_id
group by C.first_name, C.last_name
order by count(R.rental_id) desc
limit 1) as mambo6;